// Color Variables
$header__background-color: #20343e;
$header__nav-background-color: #42535c;
$header__anchor-hover-color: #5aaafa;
$header__nav-color: #dfe6eb;
$header__background-active: lighten($header__background-color, 25%);
$white: #FFF;
