@import "colors";

.bakery__header-container {

  background-color: $header__background-color;
  width: 100%;

  &-label {
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      width: 100;
      color: $white;
    }
  }

  &-tabs {
    width: 100%;

    &-nav {
      font-size: 0.875rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $header__nav-color;
      font-weight: 700;
      cursor: pointer;
      padding-left: 5%;
      padding-right: 5%;
    }
    &-list {
      display: flex;
      text-align: center;
      list-style: none;
      display: flex;
      width: 100%;
      height: 3em;
      vertical-align: middle;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0%;
    }
  }
}

.bakery__tabs {
  width: 25%;
  height: 2.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $header__anchor-hover-color;
    }
  }

  &.selected > a {
    color: $header__anchor-hover-color;
  }
}

[data-link-name="home"] > .bakery__navigation--bottom-border,
[data-link-name="menu"] > .bakery__navigation--bottom-border,
[data-link-name="contact"] > .bakery__navigation--bottom-border,
[data-link-name="orders"] > .bakery__navigation--bottom-border {
  border-bottom: 3px solid $header__anchor-hover-color;
  width: 50%;
  position: relative;
  top: 28.75%;
}
