@import "colors";

html {
  font-size: 16px;
}

#bakeryContainer {
  height: 100%;
  width: 100%;
}

.bakery__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bakery__header-container {

  &-action {
    display: flex;
    width: 46%;
  }

  &-action-user,
  &-action-checkout {
    display: flex;
    justify-content: flex-end;

    > svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: #DBF1FF;
      cursor: pointer;
    }
  }

  &-action-user {
    width: 8.5%;
  }
  &-action-checkout {
    width: 88%;
  }

  background-color: lighten($header__background-color, 20%);
  width: 100%;

  &-label {
  background-color: lighten($header__background-color, 35%);
    display: flex;
    align-items: center;

    > p {
      width: 56%;
      display: flex;
      justify-content: flex-end;
      color: $white;
    }
  }

  &-tabs {
    width: 100%;

    &-nav {
      font-size: 0.875rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $header__nav-color;
      font-weight: 700;
      cursor: pointer;
      padding-left: 5%;
      padding-right: 5%;
    }
    &-list {
      display: flex;
      text-align: center;
      list-style: none;
      display: flex;
      width: 100%;
      height: 3em;
      vertical-align: middle;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0%;
    }
  }
}

.bakery__tabs {
  width: calc(100% / 4);
  height: 2.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: $white;

  &:hover {
      color: $header__anchor-hover-color;
  }

  &.selected > a {
    color: $header__anchor-hover-color;
  }
}

.bakery__navigation--bottom-border {
  border-bottom: 3px solid $header__anchor-hover-color;
}
