.bakery__checkout-container {
    display: flex;
    flex-direction: column;
    padding: 2%;

    &-cart-item {
        display: flex;

        td {
            display: flex;
            justify-content: center;
            width: calc(100% / 3);
        }
    }

    &-empty-cart {
        line-height: 1.35;
        font-size: 1.5rem;
        color: #cad2d3;
        font-weight: 800;
        display: flex;
        justify-content: center;
    }

    &-progress-bar {
        list-style: none;
    }
    &-progress-bar-edit,
    &-progress-bar-checkout {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 1.5em;
        background-color: #009AFF;

        svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: #009AFF;
            cursor: pointer;
        }
    }
    &-progress-bar-edit-label,
    &-progress-bar-checkout-label {
        display: inline-flex;
        color: white;
        font-size: 1rem;
        font-weight: 500;
    }
    &-progress-bar-edit::after {
        content: '';
        position: absolute;
        right: 50%;
        width: 1.5em;
        padding-top: 1.5em;
        z-index: 1;
        transform: rotate(45deg);
        border-bottom: 0;
        border-left: 0;
        box-shadow: 7px -7px 0 -3px white;
    }
}

.bakery__checkout-container-shopping-cart {
    padding-top: 2%;

    &-header-row th {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
    }

    &-header-row th:first-child {
        width: 50%;
    }

    &-header-row th:nth-child(3) {
        width: 52%;
    }

    .bakery__checkout-container-shopping-cart-table {
        display: flex;
        flex-direction: column;

        thead > tr {
            display: flex;
            width: 100%;
        }
    }
    .purchase-checkout-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-top: 2.5%;

        .checkout-purchase-btn {
            width: 15%;
            background-color: #009AFF;
            color: white;
            font-weight: 500;
        }
    }
}

.bakery__checkout-number {
    position: relative;
    top: 2.5%;
    left: 1%;
    color: whitesmoke;
    font-size: 0.8rem;
    width: 0.5rem;
}
// edit-item-checkout-icon
.delete-item-checkout,
.edit-item-checkout {
    width: 2% !important;
    &-icon {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
}