@import "colors";

.menu__container {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu_sidebar__container {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  .menu_sidebar_button__container {
    white-space: nowrap;
    text-align: center;
    height: 5%;
    padding: 0.5%;
    flex: auto;
    border-top: 1px solid #96d1f8;
    background: lighten($header__background-color, 10%);
    padding: 13.5px 27px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 1em;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      border-top-color: #28597a;
      background: #28597a;
      color: #ccc;
    }
    &:active {
      border-top-color: #1b435e;
      background: #1b435e;
    }
  }
}

.menu_items__container {
  width: 80%;
  display: flex;
  flex-direction: column;

  &.pure-g {
    letter-spacing: normal;
  }
}

.menu_items__container-recipe {

  &-name,
  &-ingreds {
    display: block;
    padding: 1%;
    text-align: center;
  }

  &-name {
    font-weight: 600;
  }

  &-ingreds {
    line-height: 1.375em;
  }
}

.menu_items__container-recipe-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_item__container-recipe-add-to-quantity {
  display: flex;
  margin-right: 5%;

  &-label {
    display: flex;
    margin-right: 8%;
    align-items: center;
  }

  select {
    width: 3em;
  }
}

.menu_item__container-recipe-add-to-cart {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;

  > button {
    display: flex;
    align-items: center;
    background-color: rgba(31, 138, 214, 0.62);

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .menu_item-checkout-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
    cursor: pointer;
  }
  .menu_item-checkout-text {
    display: flex;
    padding-left: 15%;
    width: 3.5em;
    color: white;
  }
}